# $Id$

include COPYING MANIFEST.in Makefile
include contrib/example-mail.vim
include contrib/example-muttilsrc
include contrib/example-muttrc
include contrib/example-screenrc
include contrib/example-tmux.conf
